@model CSMatch

<h1>Match Details</h1>

<div>
    <h2>Match Id: @Model.id</h2>
    <p>match_id: @Model.id</p>
    <p>user_id: @Model.user_id</p>
    <p>datetime_start: @Model.datetime_start</p>
    <p>minutes_played: @Model.minutes_played</p>
    <p>map_name: @Model.map_name</p>
    <p>team: @Model.team</p>
    <p>round_win_team: @Model.round_win_team</p>

    <h2>Match Stats</h2>

    <p>match_stats_id: @Model.matchStats.id</p>
    <p>kills: @Model.matchStats.kills</p>
    <p>assists: @Model.matchStats.assists</p>
    <p>deaths: @Model.matchStats.deaths</p>
    <p>mvps: @Model.matchStats.mvps</p>
    <p>score: @Model.matchStats.score</p>
</div>
