@model ProfileViewModel

@using CSGSIWebClient.Utilities;

@if (Model.CSMatchList.Count > 0)
{
    float kdr = Model.GetKDR();
    CSMatch lastMatch = Model.GetLastMatch();
    CSMatch hightScoreMatch = Model.HighestScoreMatch();
    CSMatch bestKDRMatch = Model.BestKDRMatch();

    <div id="profile-div">
        <div>
            <h1>@Model.SteamPlayer.personaname</h1>

            <img src="@Model.SteamPlayer.avatarfull" />
        </div>

        <div>
            <dl class="dl-horizontal">
                <dt>Average KDR: </dt>
                <dd>@kdr</dd>

                <dt>Highest Match Score: </dt>
                <dd><a asp-controller="Matches" asp-action="Match" asp-route-id="@hightScoreMatch.id">@DateUtilities.ConvertFromUnixTimestamp(hightScoreMatch.datetime_start)</a></dd>

                <dt>Best Match KDR: </dt>
                <dd><a asp-controller="Matches" asp-action="Match" asp-route-id="@bestKDRMatch.id">@DateUtilities.ConvertFromUnixTimestamp(bestKDRMatch.datetime_start)</a></dd>

                <dt>Last Match: </dt>
                <dd><a asp-controller="Matches" asp-action="Match" asp-route-id="@lastMatch.id">@DateUtilities.ConvertFromUnixTimestamp(lastMatch.datetime_start)</a></dd>
            </dl>
        </div>
    </div>

    <div id="chart-canvas">
        <div class="form-group">
            <label for="chart-selection">Select Chart: </label>
            <select class="form-control" id="chart-selection">
                <option value="minutes-played-per-map">Minutes Played per Map</option>
                <option value="minutes-played-per-team">Minutes Played per Team</option>
                <option value="kdr-by-map">Kill Death Ratio by Map</option>
                <option value="kdr-by-team">Kill Death Ratio by Team</option>
                <option value="wins-by-team">Wins by Team</option>
            </select>
        </div>
        <canvas id="my-chart"></canvas>
    </div>
}
else
{
    <div id="profile-div">
        <div>
            <h1>@Model.SteamPlayer.personaname</h1>

            <img src="@Model.SteamPlayer.avatarfull" />
        </div>

        <div id="profile-summary-div">
            <dl class="dl-horizontal">
                <dt>Average KDR: </dt>
                <dd>N/A</dd>

                <dt>Highest Match Score: </dt>
                <dd>N/A</dd>

                <dt>Best Match KDR: </dt>
                <dd>N/A</dd>

                <dt>Last Match: </dt>
                <dd>N/A</dd>
            </dl>
        </div>
    </div>
}

